<html>
  <head>
    <title>
      Graph Search Queries
    </title>
    <link rel="stylesheet" href="static/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="static/bootstrap-yeti.css"type="text/css">
    <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
    .list-group{
      color: black;
      font-size: 15px;
    }
    body{
      line-height: 3.4;
    }
    </style>
  </head>
  <body style="color:black;">
      <h1>Query Formats</h1>
        <div class="list-group" style="color:black;">
          <ul>
            <li>Queries should be entered in English language.</li>


            <li>There are 7 distinct types of queries which are processed by this software ( please refer to the Documentation )</li>


            <li>Format for entering author name : ['author', 'author name', 'by', 'author is'] &lt;author's name&gt;</li>


            <li>Format for entering venue/conference name : ['at', 'venue', 'conference', 'venue is', 'conference is'] &lt;venue/conference name&gt;</li>


            <li>Format for entering field name : ['in', 'based on', 'field', 'field is'] &lt;field name&gt;</li>


            <li>Format for entering co author name : ['coauth of'] &lt;author name&gt; OR &lt;author name&gt;'s coauth</li>


            <li>Format for entering year : ['between', 'from'] &lt;start year&gt; ['and', 'to'] &lt;end year&gt; OR ['till'] &lt;end year&gt; </li>


            <li>For citation count and publication count include the keywords &quot;citation&quot; and &quot;publication&quot; in query</li>


            <li>[.] in the above formats represents any one of these alternatives should be used</li>


            <li>After each filter &amp; sign should be placed.</li>

          </ul>

        </div>



  </body>

</html>
