<html>
  <head>
    <title>
      Graph Search Queries
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css"type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Search Results</h2>
      </div>
    </div>
    <div class="well">
      {% if num_match %}
        <h6>{{num_match}} matches found in {{time_taken}} seconds.</h6>
      {% else %}
        <h4>Sorry.No Results found!!</h4>
      {% endif %}
    </div>
    <div class="col-lg-10 col-lg-offset-1">
      {% if flag %}
        <h4>Error! Please enter a valid string!!</h4>
      {% else %}
        <div class="list-group">
          {% for paper_id in result %}
            <a data-toggle='modal' data-target=#{{paper_id}} href="#" class="list-group-item">
              <h3 class="list-group-item-heading"><span class="label label-primary">{{paper_id}}</span>&nbsp;&nbsp;&nbsp;{{result[paper_id]['Title']}}</h3>
            </a>
          {% endfor %}
        </div>


        {% for paper_id in result %}
        <div id='{{paper_id}}' class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><strong>{{paper_id}}</strong></h3>
              </div>
              <div class="modal-body">
                <p><strong>Title : </strong>{{result[paper_id]['Title']}}</p>
                <p><strong>Year : </strong>{{result[paper_id]['Year']}}</p>
                <p><strong>Field(s) : </strong>
                  {% for field in result[paper_id]['Field'] %}
                    {{field}},
                  {% endfor %}
                </p>
                <p><strong>Author(s) : </strong>
                  {% for author in result[paper_id]['Authors'] %}
                    {{author}},
                  {% endfor %}
                </p>
                <p><strong>Keyword(s) : </strong>
                  {% for keyword in result[paper_id]['Keywords'] %}
                    {{keyword}},
                  {% endfor %}
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </body>
</html>
